@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Bold"), url("opensans-bold.woff") format("woff"), url("opensans-bold.ttf") format("truetype");
}
@keyframes popup-window-button-animation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes popupWindowShowAnimationOpacity {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes popupWindowShowAnimationOpacityTransform {
0% { opacity: 0; transform: translate3d(0px, 5px, 0px); }
100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes popupWindowCloseAnimationOpacity {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes popupWindowCloseAnimationOpacityTransform {
0% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 25px, 0px); }
}
