.owl-carousel, .owl-carousel .owl-item { position: relative; }
.owl-carousel { display: none; width: 100%; z-index: 1; }
.owl-carousel .owl-stage { position: relative; touch-action: manipulation; backface-visibility: hidden; }
.owl-carousel .owl-stage::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item, .owl-carousel .owl-wrapper { backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item { min-height: 1px; float: left; backface-visibility: hidden; }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled { display: none; }
.no-js .owl-carousel, .owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-drag .owl-item { touch-action: pan-y; -moz-user-select: none; }
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
*, *::before, *::after { box-sizing: border-box; }
:focus { outline: medium none; }
html, body { height: 100%; min-height: 100%; }
html { font-family: sans-serif; line-height: 1.15; min-width: 320px; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
body { margin: 0px; font-family: Helvetica,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; font-weight: 400; line-height: 1.5; color: rgb(115, 115, 115); text-align: left; background-color: rgb(255, 255, 255); }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0.5rem; }
p { margin-top: 0px; margin-bottom: 1rem; }
ol, ul, dl { margin-top: 0px; margin-bottom: 1rem; }
ol ol, ul ul, ol ul, ul ol { margin-bottom: 0px; }
b, strong { font-weight: bolder; }
a { color: rgb(255, 68, 41); text-decoration: none; background-color: transparent; }
a:hover { color: rgb(255, 68, 41); text-decoration: underline; }
a:not([href]):not([tabindex]) { color: inherit; text-decoration: none; }
img { vertical-align: middle; border-style: none; }
svg:not(:root) { overflow: hidden; }
label { display: inline-block; margin-bottom: 0.5rem; }
button { border-radius: 0px; }
button:focus { outline: 1px dotted; }
a, input, button, [role="button"], select, optgroup, textarea { touch-action: manipulation; margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }
button, input, select { overflow: visible; text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] {  }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { padding: 0px; border-style: none; }
input[type="radio"], input[type="checkbox"] { box-sizing: border-box; padding: 0px; }
textarea { overflow: auto; resize: vertical; }
fieldset { min-width: 0px; padding: 0px; margin: 0px; border: 0px none; }
[tabindex="-1"]:focus { outline: 0px none !important; }
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("HelveticaRegular.eot") format("embedded-opentype"), url("HelveticaRegular.woff2") format("woff2"), url("HelveticaRegular.woff") format("woff"), url("HelveticaRegular.ttf") format("truetype"), url("HelveticaRegular.svg") format("svg");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  src: url("HelveticaLight.eot") format("embedded-opentype"), url("HelveticaLight.woff2") format("woff2"), url("HelveticaLight.woff") format("woff"), url("HelveticaLight.ttf") format("truetype"), url("HelveticaLight.svg") format("svg");
}
@font-face {
  font-family: "Rouble";
  font-style: normal;
  font-weight: normal;
  src: url("alsrubl-webfont.eot") format("embedded-opentype"), url("alsrubl-webfont.woff") format("woff"), url("alsrubl-webfont.ttf") format("truetype"), url("alsrubl-webfont.svg") format("svg");
}
@font-face {
  font-family: "ekouniversal";
  font-style: normal;
  font-weight: normal;
  src: url("ekouniversal.eot") format("embedded-opentype"), url("ekouniversal.woff") format("woff"), url("ekouniversal.ttf") format("truetype"), url("ekouniversal.svg") format("svg");
}
[class^="i-"], [class*=" i-"] { line-height: 1; }
[class^="i-"]::before, [class*=" i-"]::before { font-family: "ekouniversal" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; }
.i-calc::before { content: "a"; }
.i-call::before { content: "b"; }
.i-envelope::before { content: "c"; }
.i-marker::before { content: "d"; }
.i-angle-left::before { content: "g"; }
.i-angle-right::before { content: "h"; }
.i-slider-left::before { content: "i"; }
.i-slider-right::before { content: "j"; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h2, .h2 { font-size: 20px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 24px; }
h5, .h5 { font-size: 20px; }
@media (max-width: 991.98px) {
}
h2 { font-size: 37px; line-height: 1.3; color: rgb(0, 135, 255); text-align: center; }
h3 { font-size: 32px; line-height: 1.5; color: rgb(255, 68, 41); text-align: center; }
h4 { font-size: 32px; line-height: 1.5; color: rgb(115, 115, 115); text-align: center; }
h5 { font-size: 24px; line-height: 2; color: rgb(255, 68, 41); text-align: center; }
p { font-size: 16px; font-weight: 300; line-height: 1.25; color: rgb(115, 115, 115); text-align: left; margin-bottom: 8px; }
img { max-width: 100%; height: auto; }
@media (max-width: 767.98px) {
  img { float: none !important; display: block; margin: 0px auto 23px !important; }
}
@media (max-width: 991.98px) {
}
@media (max-width: 991.98px) {
}
.container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 576px) {
  .container { max-width: 540px; }
}
@media (min-width: 768px) {
  .container { max-width: 720px; }
}
@media (min-width: 992px) {
  .container { max-width: 960px; }
}
@media (min-width: 1280px) {
  .container { max-width: 1250px; }
}
.row { display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-6 { -moz-box-flex: 1; flex: 0 0 50%; max-width: 50%; }
.col-12 { -moz-box-flex: 1; flex: 0 0 100%; max-width: 100%; }
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .col-md-4 { -moz-box-flex: 1; flex: 0 0 33.3333%; max-width: 33.3333%; }
  .col-md-6 { -moz-box-flex: 1; flex: 0 0 50%; max-width: 50%; }
}
@media (min-width: 992px) {
  .col-lg-3 { -moz-box-flex: 1; flex: 0 0 25%; max-width: 25%; }
}
@media (min-width: 1280px) {
}
.d-none { display: none !important; }
.d-flex { display: flex !important; }
@media (min-width: 576px) {
  .d-sm-none { display: none !important; }
  .d-sm-flex { display: flex !important; }
}
@media (min-width: 768px) {
  .d-md-none { display: none !important; }
  .d-md-flex { display: flex !important; }
}
@media (min-width: 992px) {
}
@media (min-width: 1280px) {
}
@media print {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1280px) {
}
@media (max-width: 1279.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (min-width: 768px) {
  .margin-up--md-t-30 { margin-top: 30px; }
}
@media (min-width: 768px) {
  .margin-up--md-b-30 { margin-bottom: 30px; }
}
@media (max-width: 767.98px) {
  .margin-down--sm-t-15 { margin-top: 15px; }
}
@media (max-width: 767.98px) {
  .margin-down--sm-b-15 { margin-bottom: 15px; }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1280px) {
}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, textarea:-moz-placeholder { opacity: 1; filter: none; transition: opacity 0.3s ease 0s; }
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, textarea::-moz-placeholder { opacity: 1; filter: none; transition: opacity 0.3s ease 0s; }
input[type="text"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="tel"]:focus:-moz-placeholder, textarea:focus:-moz-placeholder { opacity: 0; }
input[type="text"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="tel"]:focus::-moz-placeholder, textarea:focus::-moz-placeholder { opacity: 0; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (min-width: 768px) {
}
.btn { box-sizing: border-box; display: inline-block; vertical-align: middle; margin: 0px; padding: 0.2em 1em; white-space: nowrap; -moz-user-select: none; text-align: center; font-size: 15px; font-weight: 500; font-family: inherit; line-height: 1.5; text-decoration: none; text-transform: none; color: rgb(25, 25, 25); border-radius: 2px; border: 1px solid rgb(0, 0, 0); background-color: transparent; background-image: none; cursor: pointer; transition: all 150ms ease-in-out 0ms; }
.btn:hover { text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-color: rgb(0, 0, 0); }
.btn_disabled, .btn:disabled { opacity: 0.5; color: rgb(115, 115, 115); background-color: rgb(230, 230, 230); border-color: rgb(204, 204, 204); }
.btn_red { color: rgb(255, 255, 255); background-color: rgb(255, 68, 41); border-color: rgb(255, 68, 41); }
.btn_red:hover, .btn_red:focus { background-color: rgb(226, 24, 4); border-color: rgb(226, 24, 4); }
.btn_red-ligth { display: block; margin: 34px auto 55px; padding: 3px 18px; width: 130px; color: rgb(255, 255, 255); background-color: rgb(255, 68, 41); border-color: rgb(255, 68, 41); font-weight: 300; }
.btn_red-ligth:hover, .btn_red-ligth:focus { background-color: rgb(226, 24, 4); border-color: rgb(226, 24, 4); }
@media (max-width: 767.98px) {
  .btn_red-ligth { margin: 34px auto 48px; }
}
.btn_blue { color: rgb(255, 255, 255); background-color: rgb(0, 135, 255); border-color: rgb(0, 135, 255); }
.btn_blue:hover, .btn_blue:focus { background-color: rgb(0, 119, 225); border-color: rgb(0, 119, 225); }
.btn_submit { display: block; margin: 0px auto; padding: 14px 60px; font-size: 19px; font-weight: 300; line-height: 1; color: rgb(255, 255, 255); background-color: rgb(0, 135, 255); border-color: rgb(0, 135, 255); }
.btn_submit:hover, .btn_submit:focus { background-color: rgb(0, 119, 225); border-color: rgb(0, 119, 225); }
@media (max-width: 767.98px) {
  .btn_submit { padding: 11px 60px; }
}
@media (max-width: 767.98px) {
}
.btn_big { font-size: 16px; line-height: 1; width: 134px; height: 52px; padding: 0px; }
@media (max-width: 767.98px) {
  .btn_big { width: 50%; }
}
.btn_more { display: inline-block; position: relative; margin-left: 25px; padding: 5px 8px 5px 25px; background: rgb(255, 66, 44) none repeat scroll 0% 0%; border: medium none; color: rgb(255, 255, 255); cursor: pointer; }
.btn_more::after { content: ""; display: inline-block; height: 11px; width: 11px; background: rgba(0, 0, 0, 0) url("read-more.svg") repeat scroll 0% 0%; position: absolute; top: 10px; left: 7px; }
.btn_more:hover, .btn_more:focus { background-color: rgb(255, 39, 17); border-color: rgb(255, 39, 17); }
@media (max-width: 991.98px) {
  .btn_more { display: block; width: 150px; margin-left: 0px; }
}
.btn_order { display: block; position: relative; padding-top: 4px; margin: 0px auto; height: 30px; width: 140px; background: rgb(255, 66, 44) none repeat scroll 0% 0%; border: medium none; color: rgb(255, 255, 255); cursor: pointer; }
.btn_order::after { content: ""; display: inline-block; height: 11px; width: 11px; background: rgba(0, 0, 0, 0) url("read-more.svg") repeat scroll 0% 0%; position: absolute; top: 10px; left: 15px; }
.btn_order:hover, .btn_order:focus { background-color: rgb(255, 39, 17); border-color: rgb(255, 39, 17); }
@media (max-width: 991.98px) {
  .btn_order { padding-top: 2px; height: 27px; }
  .btn_order::after { top: 8px; }
}
@media (max-width: 767.98px) {
  .btn_order { height: 30px; width: 150px; font-size: 19px; padding: 0px; font-weight: 300; }
}
.btn_calculate { display: block; height: 44px; width: 100%; padding-top: 5px; background-color: rgb(0, 135, 255); border-color: rgb(0, 135, 255); margin: 0px auto; font-weight: 300; font-size: 19px; color: rgb(255, 255, 255); }
.btn_calculate:hover, .btn_calculate:focus { outline: medium none; background-color: rgb(0, 119, 225); border-color: rgb(0, 119, 225); }
.btn_order-big { display: block; margin: 0px auto; padding: 9px 40px; font-size: 24px; font-weight: 300; line-height: 1; color: rgb(255, 255, 255); background-color: rgb(0, 135, 255); border-color: rgb(0, 135, 255); }
.btn_order-big:hover, .btn_order-big:focus { background-color: rgb(0, 119, 225); border-color: rgb(0, 119, 225); }
.burger { display: flex; -moz-box-align: center; align-items: center; cursor: pointer; margin-right: 20px; }
.burger__icon { position: relative; width: 32px; height: 32px; }
.burger span { display: block; width: 100%; height: 2px; margin-bottom: 8px; background-color: rgb(255, 68, 41); }
.burger span:nth-child(2) { width: 22px; }
.burger span:last-child { margin-bottom: 0px; }
@media (min-width: 1280px) {
  .burger { display: none; }
}
@media (max-width: 575.98px) {
  .burger { bottom: 5px; right: 20px; }
}
.close { position: relative; z-index: 1; display: inline-block; padding: 0px; width: 31px; height: 31px; line-height: 31px; background: transparent none repeat scroll 0% 0%; border: medium none; -moz-user-select: none; cursor: pointer; }
.close > span { position: relative; display: inline-block; vertical-align: middle; width: 100%; height: 3px; font-size: 0px; color: transparent; background: transparent none repeat scroll 0% 0%; }
.close > span::before, .close > span::after { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 3px; background: rgb(255, 68, 41) none repeat scroll 0% 0%; transform-origin: 50% 50% 0px; }
.close > span::before { transform: rotate3d(0, 0, 1, 45deg); }
.close > span::after { transform: rotate3d(0, 0, 1, -45deg); }
.close:focus { outline: medium none; }
.close.close_modal { height: 16px; width: 16px; line-height: 17px; }
.close.close_modal > span { width: 16px; }
.close.close_modal > span::before, .close.close_modal > span::after { height: 1px; background: rgb(121, 121, 121) none repeat scroll 0% 0%; }
@media (min-width: 768px) {
}
.field-checkbox { display: block; margin-bottom: 34px; }
@media (max-width: 991.98px) {
  .field-checkbox { margin-bottom: 30px; }
}
@media (max-width: 767.98px) {
  .field-checkbox { margin-bottom: 13px; }
}
@media (max-width: 767.98px) {
}
.field-radio { display: block; margin-bottom: 15px; }
.field-radio__name { cursor: pointer; position: relative; display: block; padding-left: 1.5em; margin-right: 0.6em; margin-bottom: 0px; font-weight: 400; line-height: 1.7; }
.field-radio__name-text { display: inline-block; font-size: 14px; line-height: 1.7; }
.field-radio__name-text::before { content: ""; position: absolute; top: 5px; left: 0px; width: 17px; height: 17px; border: 2px solid rgb(207, 207, 207); border-radius: 50%; }
input:checked ~ .field-radio__name-text::before { background: rgb(0, 134, 254) none repeat scroll 0% 0%; border: 2px solid rgb(18, 121, 213); }
.field-radio__name-text::after { content: ""; position: absolute; top: 10px; left: 4px; width: 10px; height: 6px; opacity: 0; border-left: 2px solid rgb(255, 255, 255); border-bottom: 2px solid rgb(255, 255, 255); transition: opacity 200ms ease 0s; transform: rotate(-50deg); }
input:checked ~ .field-radio__name-text::after { opacity: 1; filter: none; }
.field-radio__input { position: absolute; top: 0.8em; left: 0px; padding: 0px; margin: 0px; transform: translateY(-50%); opacity: 0; }
.field-radio__input:focus, .field-radio__input:active { outline: 0px none; border-color: rgb(255, 68, 41); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.field-select { display: block; margin-bottom: 0px; }
.field-select__name { font-size: 14px; display: block; margin-bottom: 10px; line-height: 1; font-weight: 500; }
.field-select__select { height: 41px; display: inline-block; vertical-align: middle; width: 100%; line-height: 1; padding: 4px 16px; font-size: 14px; font-family: inherit; border: 2px solid rgb(233, 233, 233); border-radius: 3px; -moz-appearance: none; background-color: rgb(255, 255, 255); cursor: pointer; background-position: right 0px center; background-size: 32px 41px; background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMzEgMzciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDM3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IGZpbGw9IiNGMEYwRjAiIHdpZHRoPSIzMSIgaGVpZ2h0PSIzNyIvPg0KPGc+DQoJPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzFEMUQxQiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IjE4LjcsMjAuNiAxNS41LDIzLjggMTIuMywyMC42IAkiLz4NCgk8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMUQxRDFCIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iMTIuMywxNi40IDE1LjUsMTMuMiAxOC43LDE2LjQgCSIvPg0KPC9nPg0KPC9zdmc+DQo="); background-repeat: no-repeat; }
.field-select__select:active, .field-select__select:focus { outline: 0px none; border-color: rgb(255, 68, 41); }
.field-text { display: block; margin-bottom: 35px; }
@media (max-width: 991.98px) {
  .field-text { margin-bottom: 27px; }
}
.field-text__input-wrap { display: flex; -moz-box-orient: vertical; flex-direction: column; }
.field-text__input { display: inline-block; vertical-align: middle; width: 100%; padding: 8px 16px; margin: 0px; line-height: 1.5; font-size: 14px; font-family: inherit; background-color: rgb(255, 255, 255); border: 2px solid rgb(233, 233, 233); border-radius: 3px; -moz-appearance: textfield; -moz-box-ordinal-group: 2; order: 2; }
@media (max-width: 991.98px) {
  .field-text__input { padding: 8px 10px; }
}
textarea.field-text__input { height: 110px; }
.field-text__input:focus { outline: 0px none; border-color: rgb(255, 68, 41); }
.field-text__input::placeholder { color: rgb(211, 211, 211); opacity: 1; filter: none; }
.field-text__help-text { -moz-box-ordinal-group: 1; order: 1; display: block; font-size: 14px; font-weight: 400; line-height: 1; color: rgb(128, 128, 128); margin-bottom: 10px; }
.field-text__help-text:empty { display: none; }
.field-text:last-child { margin-bottom: 0px; }
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
.field-text_bottom:last-child { margin-bottom: 30px; }
.field-text.field-text_required .field-text__help-text { position: relative; }
.field-text.field-text_required .field-text__help-text::after { display: inline-block; content: "*"; font-size: 16px; color: rgb(255, 68, 41); }
@media (min-width: 992px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.footer { position: relative; border-top: 1px solid rgb(233, 233, 233); padding-top: 39px; padding-bottom: 12px; }
.footer__menu { margin-bottom: 43px; }
@media (max-width: 575.98px) {
  .footer__menu { margin-bottom: 35px; }
}
@media (min-width: 576px) {
  .footer__bottom { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: start; align-items: flex-start; }
}
@media (min-width: 576px) {
  .footer__left { padding-right: 30px; }
}
@media (max-width: 575.98px) {
  .footer__right { margin-top: 30px; }
}
@media (min-width: 576px) {
  .footer__right { text-align: right; }
}
.footer__copyright { font-size: 13px; color: rgb(115, 115, 115); line-height: 1.35; margin-bottom: 1px; }
@media (max-width: 767.98px) {
  .footer__counter { display: inline-block; margin: 0px !important; float: none; }
}
@media (max-width: 767.98px) {
  .footer__counter img { display: inline-block; margin: 0px !important; float: none; }
}
@media (max-width: 575.98px) {
  .footer { padding-bottom: 20px; }
}
.form { display: block; }
.form__fieldset { min-width: 0px; padding: 0px; margin: 0px; border: 0px none; }
.form__fieldset:not(:last-child) { margin-bottom: 23px; }
.form__legend { display: block; width: 100%; max-width: 100%; margin-top: 0px; margin-bottom: 36px; font-family: Helvetica,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: 300; white-space: normal; }
@media (max-width: 991.98px) {
  .form__legend { margin-bottom: 30px; }
}
.form__text { font-size: 12px; font-weight: 400; color: rgb(172, 172, 172); margin-bottom: 34px; }
@media (max-width: 991.98px) {
  .form__text { margin-bottom: 27px; }
}
.form__text i { color: rgb(255, 68, 41); font-size: 16px; }
.form__submit-wrapper { position: relative; display: inline-block; margin-bottom: 70px; left: 50%; transform: translateX(-50%); }
@media (max-width: 991.98px) {
  .form__submit-wrapper.form__submit-wrapper_callback { margin-bottom: 40px; }
}
@media (max-width: 767.98px) {
  .form__submit-wrapper.form__submit-wrapper_callback { margin-bottom: 10px; }
}
.form__submit-wrapper::after { content: ""; height: 100%; width: 80%; position: absolute; top: 0px; display: block; left: 50%; transform: translateX(-50%); z-index: -1; box-shadow: 0px 10px 50px rgba(0, 135, 255, 0.4); transition: box-shadow 0.2s ease-in-out 0s, -webkit-box-shadow 0.2s ease-in-out 0s; }
.form__submit-wrapper:hover::after, .form__submit-wrapper:focus::after { box-shadow: 0px 10px 15px rgba(0, 135, 255, 0.2); transition: box-shadow 0.2s ease-in-out 0s, -webkit-box-shadow 0.2s ease-in-out 0s; }
@media (max-width: 991.98px) {
  .form__submit-wrapper { margin-bottom: 60px; }
}
.header__row { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: center; align-items: center; height: 100%; }
@media (max-width: 767.98px) {
  .header__row { flex-wrap: wrap; align-content: center; }
}
.header__top { height: 47px; display: flex; -moz-box-align: center; align-items: center; font-size: 14px; }
.header__top-left { display: flex; }
@media (max-width: 767.98px) {
  .header__top-left { -moz-box-flex: 1; flex-grow: 1; }
}
.header__region-select { white-space: nowrap; }
@media (min-width: 768px) {
  .header__region-select { margin-right: 15px; }
}
@media (min-width: 992px) {
  .header__region-select { margin-right: 60px; }
}
@media (max-width: 767.98px) {
  .header__region-select { -moz-box-flex: 1; flex-grow: 1; }
}
.header__phone { white-space: nowrap; }
@media (min-width: 768px) {
  .header__phone { margin-right: 15px; }
}
@media (min-width: 992px) {
  .header__phone { margin-right: 60px; }
}
.header__email { white-space: nowrap; }
@media (max-width: 767.98px) {
  .header__email { margin: 0px 23px; }
}
.header__phone a, .header__email a, .header-mobile__email a { color: rgb(115, 115, 115); vertical-align: middle; }
.header__phone a:hover, .header__email a:hover, .header__phone a:focus, .header__email a:focus { color: rgb(115, 115, 115); }
@media (max-width: 767.98px) {
  .header__phone a span, .header__email a span { display: none; }
}
.header__lang-switcher { display: flex; -moz-box-align: center; align-items: center; color: rgb(255, 68, 41); }
.header__lang-switcher > * { vertical-align: middle; }
@media (min-width: 992px) {
}
.header__lang-switcher span { margin-right: 15px; }
.header__lang-switcher:hover, .header__lang-switcher:focus { color: rgb(255, 68, 41); }
@media (max-width: 991.98px) and (min-width: 768px) {
  .header__lang-switcher span { display: none; }
}
@media (max-width: 767.98px) {
  .header__lang-switcher { display: flex; -moz-box-align: center; align-items: center; }
}
.header__lang-img { display: inline-block; background: rgba(0, 0, 0, 0) url("eng-flag.png") repeat scroll 0% 0%; height: 30px; width: 30px; }
.header__bottom { position: relative; height: 88px; background-color: rgb(245, 245, 245); }
@media (max-width: 1279.98px) {
  .header__bottom { height: 164px; margin-bottom: 0px !important; }
}
@media (min-width: 1280px) {
  .header__logo { margin-right: 60px; }
}
@media (min-width: 1280px) {
  .header__menu { -moz-box-flex: 2; flex-grow: 2; }
}
@media (max-width: 1279.98px) {
  .header__menu { display: none; }
}
.header__utils { display: flex; -moz-box-align: center; align-items: center; }
@media (min-width: 1280px) {
  .header__utils { margin-left: 40px; }
}
.header__calc-btn { display: flex; font-size: 40px; color: rgb(255, 68, 41); }
.header__calc-btn:hover, .header__calc-btn:focus { text-decoration: none; }
@media (min-width: 768px) {
  .header__calc-btn { margin-right: 20px; }
}
@media (max-width: 767.98px) {
  .header__popup-btns-desctop { display: none; }
}
.header__popup-btns-mobil { display: none; }
@media (max-width: 767.98px) {
  .header__popup-btns-mobil { display: flex; -moz-box-pack: end; justify-content: flex-end; width: 100%; margin-top: 14px; }
}
.icon { display: inline-block; margin-right: 4px; vertical-align: middle; font-size: 20px; }
@media (min-width: 992px) {
  .icon { font-size: 23px; margin-right: 8px; }
}
.icon_red { color: rgb(255, 68, 41); }
.link { font-size: 15px; font-weight: 500; color: rgb(115, 115, 115); display: inline-block; padding: 3px; transition: all 100ms ease-in-out 0ms; background-color: transparent; line-height: 1.13333; }
.link span { text-decoration: underline; }
.link:hover, .link:focus { color: rgb(255, 255, 255); }
.link:hover { text-decoration: none; }
.link:hover span { text-decoration: none; }
.link.link_teaser { position: relative; font-size: 13px; font-weight: 400; color: rgb(255, 69, 41); display: inline-block; padding: 3px 0px 3px 25px; transition: all 100ms ease-in-out 0ms; }
.link.link_teaser::before { position: absolute; top: 0px; content: ""; display: inline-block; height: 19px; width: 19px; background: rgba(0, 0, 0, 0) url("read-more.png") no-repeat scroll 0% 0% / cover ; line-height: 1.231; }
.link.link_teaser:hover, .link.link_teaser:focus { color: rgb(115, 115, 115); }
.link.link_teaser:hover { text-decoration: none; }
.link.link_dotted { margin: 33px 0px; font-size: 14px; }
.link.link_dotted span { text-decoration: none; border-bottom: 1px dashed; }
.link.link_dotted:hover, .link.link_dotted:focus { color: rgb(0, 0, 0); }
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
.logo { display: inline-block; white-space: nowrap; }
.logo img { display: block; margin: 0px !important; }
@media (max-width: 1279.98px) {
  .logo img { max-width: 100%; }
}
@media (max-width: 1279.98px) {
  .logo { width: 190px; }
}
@media (max-width: 767.98px) {
  .logo { width: 175px; }
}
.main-nav { position: relative; }
.main-nav__list { display: flex; flex-wrap: wrap; margin: 0px; padding: 0px; list-style: outside none none; }
.main-nav__list_lvl-2 { display: block; }
.main-nav__list_lvl-3 { display: block; }
.main-nav__item { position: relative; }
.main-nav__link { display: inline-block; text-decoration: none; background-color: transparent; white-space: nowrap; }
.main-nav__link:hover, .main-nav__link:focus { text-decoration: none; }
.main-nav__carret { width: 10px; height: 6px; margin-left: 5px; font-size: 10px; color: rgb(255, 68, 41); }
.main-nav__carret::before { content: "e"; font-family: "ekouniversal" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; }
.main-nav__sublist-wrapper_lvl-2 { position: absolute; top: 100%; left: 0px; z-index: 1000; visibility: hidden; opacity: 0; height: 0px; overflow: hidden; }
.main-nav__sublist-wrapper_lvl-3 { position: absolute; z-index: 1000; top: 0px; left: 100%; visibility: hidden; opacity: 0; height: 0px; overflow: hidden; }
.main-nav_header { position: static; }
.main-nav_header > .main-nav__list > .main-nav__item { padding: 31px 0px; }
.main-nav_header > .main-nav__list > .main-nav__item_has-child { position: static; }
.main-nav_header .main-nav__list { -moz-box-pack: start; justify-content: flex-start; flex-wrap: nowrap; }
.main-nav_header > .main-nav__list { -moz-box-pack: justify; justify-content: space-between; }
.main-nav_header .main-nav__link { font-size: 18px; color: rgb(115, 115, 115); }
.main-nav_header .main-nav__link:hover, .main-nav_header .main-nav__link:focus { color: rgb(255, 68, 41); }
.main-nav_header .main-nav__sublist-wrapper_lvl-2 { transition: height 0.6s ease-in-out 0s, visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s; }
.main-nav_footer .main-nav__list { -moz-box-pack: justify; justify-content: space-between; }
@media (max-width: 767.98px) {
  .main-nav_footer .main-nav__list { display: block; columns: 3 auto; }
}
@media (max-width: 575.98px) {
  .main-nav_footer .main-nav__list { columns: 2 auto; }
}
@media (max-width: 479px) {
  .main-nav_footer .main-nav__list { columns: auto auto; }
}
.main-nav_footer .main-nav__link { font-size: 17px; font-weight: 300; color: rgb(0, 135, 255); }
.main-nav_footer .main-nav__link:hover, .main-nav_footer .main-nav__link:focus { color: rgb(115, 115, 115); }
.main-nav_mobile .main-nav__list { display: block; }
.main-nav_mobile .main-nav__item { padding: 5px 0px; }
.main-nav_mobile .main-nav__link { font-size: 18px; color: rgb(115, 115, 115); padding-left: 30px; white-space: normal; line-height: 1; }
.main-nav_mobile .main-nav__carret { cursor: pointer; }
.main-nav_mobile .main-nav__sublist-wrapper { position: static; display: none; padding-top: 6px; }
.main-nav_mobile .main-nav__link_lvl-2, .main-nav_mobile .main-nav__link_lvl-3 { font-size: 16px; font-weight: 300; }
.main-nav_mobile .main-nav__link_lvl-2 { padding-left: 47px; }
.main-nav_mobile .main-nav__link_lvl-3 { position: relative; padding-left: 73px; }
.main-nav_mobile .main-nav__link_lvl-3::before { content: ""; position: absolute; top: 7px; left: 47px; width: 17px; height: 1px; background-color: rgb(255, 68, 41); }
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
.mobile-menu { display: none; }
@media (max-width: 1279.98px) {
  .mobile-menu { display: block; height: 100%; width: 590px; position: fixed; top: 0px; left: 100%; z-index: 2000; background-color: rgb(255, 255, 255); transform: translateX(0px); transition: all 200ms ease-in-out 0ms; }
}
.mobile-menu__header { position: absolute; top: 0px; left: 0px; z-index: 1; width: 100%; display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: start; align-items: flex-start; padding: 20px 15px 10px 30px; background-color: rgb(255, 255, 255); box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 0.1); }
.mobile-menu__inner { padding-top: 80px; height: 100vh; overflow-y: auto; }
.mobile-menu__overlay { position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.3); overflow: hidden; visibility: hidden; opacity: 0; transition: opacity 150ms ease-in-out 0ms; }
@media (min-width: 1280px) {
  .mobile-menu__overlay { display: none; }
}
@media (max-width: 1279.98px) and (max-width: 767.98px) {
  .mobile-menu { width: 100%; }
}
.modal { display: none; overflow: hidden; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1010; }
.modal__dialog { position: relative; margin: 0px; width: 100%; height: 100%; }
@media (min-width: 992px) {
  .modal__dialog { width: 575px; height: auto; }
}
.modal__content { position: relative; display: flex; -moz-box-orient: vertical; flex-direction: column; min-width: 100%; min-height: 100%; background-color: rgb(255, 255, 255); outline: 0px none; }
.modal__tools { display: block; text-align: right; margin-top: 7px; margin-bottom: 22px; }
.modal__text { font-size: 15px; padding-right: 35px; }
.modal__close { position: absolute !important; top: 11px; right: 11px; }
.modal__header { padding: 0px; flex-shrink: 0; margin-bottom: 20px; }
.modal__title { font-size: 36px; line-height: 1.3; font-weight: 300; color: rgb(255, 68, 41); }
.modal__subtitle { display: block; text-align: center; font-size: 18px; line-height: 1.3; font-weight: 400; color: rgb(255, 68, 41); }
.modal__body { padding: 0px 15px; -moz-box-flex: 1; flex-grow: 1; }
.modal__footer { padding: 15px; flex-shrink: 0; }
.modal__container { display: block; margin: 0px auto; width: 360px; }
@media (max-width: 575.98px) {
  .modal__container { width: 290px; }
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@keyframes modal-backdrop-show {
0% { opacity: 0; }
100% { opacity: 1; filter: none; }
}
@keyframes modal-backdrop-show {
0% { opacity: 0; }
100% { opacity: 1; filter: none; }
}
@keyframes modal-content-show {
0% { opacity: 0; transform: translateY(-2em); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
@keyframes modal-content-show {
0% { opacity: 0; transform: translateY(-2em); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
.modal.modal_calculate { background-image: url("calculator_bg.png"); background-position: center bottom; background-size: contain; }
.modal.modal_calculate .close.close_modal { height: 29px; width: 29px; line-height: 29px; }
.modal.modal_calculate .close.close_modal > span { width: 29px; }
.modal.modal_calculate .close.close_modal > span::before, .modal.modal_calculate .close.close_modal > span::after { height: 2px; background: rgb(255, 68, 41) none repeat scroll 0% 0%; }
.modal.modal_calculate .modal__close { top: 25px; right: 10px; }
.modal.modal_calculate .modal__header { margin-bottom: 5px; }
.modal.modal_calculate .modal__tools { margin-top: 17px; margin-bottom: 0px; }
.modal.modal_calculate .modal__text { padding-left: 15px; display: block; text-align: left; font-size: 30px; font-weight: 300; color: rgb(255, 68, 41); }
.modal.modal_calculate .modal__body { padding: 0px; }
.modal.modal_calculate .modal__container { width: 100%; }
.modal.modal_result .modal__body { padding: 0px 65px; }
.modal.modal_result .modal__subtitle { margin-bottom: 25px; }
@media (min-width: 576px) {
}
@media (max-width: 575.98px) {
}
.owl-carousel { display: block; }
.owl-carousel .owl-dots { text-align: center; margin-top: 15px; }
.page { min-height: 100vh; display: flex; -moz-box-orient: vertical; flex-direction: column; }
.page__inner { -moz-box-flex: 1; flex-grow: 1; margin-bottom: 20px; }
.page__footer { flex-shrink: 0; }
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
.region-select { position: relative; display: inline-block; }
.region-select__caption { vertical-align: middle; }
@media (max-width: 575.98px) {
  .region-select__caption { display: none; }
}
.region-select__link { color: rgb(255, 68, 41); border-bottom: 1px dashed rgb(255, 68, 41); vertical-align: middle; cursor: pointer; }
.region-select__link:hover, .region-select__link:focus { color: rgb(255, 68, 41); text-decoration: none; }
.teaser { padding: 26px 21px 30px; }
@media (max-width: 991.98px) {
  .teaser { padding: 26px 21px 25px; }
}
.teaser__title { display: block; font-size: 13px; font-weight: 400; color: rgb(115, 115, 115); line-height: 1.231; margin-bottom: 11px; }
.teaser__title:hover, .teaser__title:focus { color: rgb(115, 115, 115); text-decoration: none; }
.teaser.teaser_index { padding-bottom: 15px; }
.thumb { position: relative; }
.thumb__img { display: block; height: 166px; width: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; }
@media (max-width: 767.98px) {
  .thumb__img { height: 40vw; }
}
@media (max-width: 575.98px) {
  .thumb__img { height: 54vw; }
}
.thumb .thumb__date { position: absolute; bottom: 0px; left: 0px; display: inline-block; padding: 4px 14px; background: rgb(255, 69, 41) none repeat scroll 0% 0%; font-size: 19px; font-weight: 300; color: rgb(255, 255, 255); }
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 991.98px) {
  .thumb.thumb_index .thumb__img { height: 138px; }
}
@media (max-width: 767.98px) {
  .thumb.thumb_index .thumb__img { height: 40vw; }
}
@media (max-width: 575.98px) {
  .thumb.thumb_index .thumb__img { height: 54vw; }
}
@media (max-width: 991.98px) {
  .thumb.thumb_index .thumb__date { padding: 7px 10px; font-size: 16px; }
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
h2.title.title_slider { margin-bottom: 23px; font-size: 37px; font-weight: 300; line-height: 1.3; color: rgb(255, 68, 41); }
@media (max-width: 991.98px) {
  h2.title.title_slider { font-size: 36px; }
}
@media (max-width: 767.98px) {
  h2.title.title_slider { line-height: 1.08; }
}
h2.title.title_last-news { margin-bottom: 32px; font-size: 37px; font-weight: 300; line-height: 1.3; color: rgb(255, 68, 41); }
@media (max-width: 991.98px) {
  h2.title.title_last-news { font-size: 36px; }
}
@media (max-width: 767.98px) {
  h2.title.title_last-news { line-height: 1.08; }
}
.tooltip { position: relative; z-index: 1000; }
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 575.98px) {
}
.online-order { float: right; position: relative; display: block; height: 494px; width: 340px; }
.online-order__fieldset { padding: 0px 15px; }
.online-order__title { line-height: 1; font-size: 27px; font-weight: 400; margin-top: 25px; margin-bottom: 0px; }
.online-order__subtitle { font-size: 14px; font-weight: 400; color: rgb(255, 68, 41); margin-bottom: 30px; }
.online-order__list { position: absolute; top: 0px; right: 100%; height: 100%; display: flex; -moz-box-orient: vertical; flex-direction: column; -moz-box-pack: justify; justify-content: space-between; padding: 0px; margin: 0px; }
.online-order__item { height: calc((100% - 15px) / 4); width: 124px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; display: flex; -moz-box-orient: vertical; flex-direction: column; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; cursor: pointer; transition: all 250ms ease-in-out 0ms; }
.online-order__item:hover, .online-order__item:focus { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; }
.online-order__item_active { position: relative; background: rgb(255, 68, 41) none repeat scroll 0% 0%; transition: all 250ms ease-in-out 0ms; }
.online-order__item_active::after { content: ""; position: absolute; left: 100%; top: 0px; display: inline-block; border-width: 60px 60px 60px 13px; border-style: solid; border-color: transparent transparent transparent rgb(255, 68, 41); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; z-index: -1; }
.online-order__item_active:hover, .online-order__item_active:focus { background: rgb(255, 68, 41) none repeat scroll 0% 0%; }
.online-order__caption { text-align: center; display: inline-block; margin-bottom: 0px; font-size: 13px; line-height: 1.23; color: rgb(255, 255, 255); }
.online-order__caption::before { display: inline-block; content: ""; }
.online-order__img-1 { display: inline-block; height: 34px; width: 33px; margin-bottom: 10px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
.online-order__img-2 { display: inline-block; width: 47px; height: 26px; margin-bottom: 10px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
.online-order__img-3 { display: inline-block; height: 31px; width: 31px; margin-bottom: 10px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
.online-order__img-4 { display: inline-block; height: 35px; width: 17px; margin-bottom: 10px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
.service { height: 232px; width: 100%; background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)) repeat scroll 0% 0%; }
@media (max-width: 991.98px) {
  .service { height: 140px; }
}
@media (max-width: 767.98px) {
  .service { height: 40vw; }
}
@media (max-width: 575.98px) {
  .service { height: 58vw; }
}
.service__inner { height: 100%; background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important; }
.service__title { padding-top: 110px; margin-bottom: 0px; text-align: center; font-size: 37px; font-weight: 400; line-height: 1; color: rgb(255, 255, 255); }
@media (max-width: 991.98px) {
  .service__title { font-size: 30px; padding-top: 49px; }
}
@media (max-width: 767.98px) {
  .service__title { font-size: 37px; padding-top: 19vw; }
}
.service__subtitle { display: block; margin-bottom: 11px; text-align: center; font-size: 24px; font-weight: 300; line-height: 1.2; color: rgb(255, 255, 255); }
@media (max-width: 991.98px) {
  .service__subtitle { font-size: 19px; margin-bottom: 5px; }
}
@media (max-width: 767.98px) {
  .service__subtitle { font-size: 24px; margin-bottom: 12px; }
}
.callback { display: block; height: 532px; width: 964px; margin: 38px auto 22px; padding-top: 100px; background: rgba(0, 0, 0, 0) url("index-map.png") no-repeat scroll center center / cover ; }
@media (max-width: 991.98px) {
  .callback { height: auto; width: 100%; background-position: center 20px; }
}
@media (max-width: 767.98px) {
  .callback { padding-top: 10px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
}
.callback__phone { color: inherit; font-weight: 300; }
.callback__phone:hover, .callback__phone:focus { color: rgb(0, 119, 225); }
@media (max-width: 767.98px) {
  .callback__phone { font-size: 36px; }
}
@media (max-width: 767.98px) {
}
.our-partners__inner { position: relative; padding: 0px 15px; opacity: 1; filter: none; }
.our-partners__nav { position: absolute; top: 30%; left: 0px; transform: translateY(-50%); height: 0px; width: 100%; z-index: 1000; }
.our-partners__nav .owl-prev, .our-partners__nav .owl-next { position: relative; z-index: 100; cursor: pointer; }
.our-partners__prev, .our-partners__next { position: absolute; top: 7px; }
.our-partners__prev i, .our-partners__next i { color: rgb(227, 227, 227); font-size: 70px; }
.our-partners__prev { left: -21px; }
@media (max-width: 1279.98px) {
  .our-partners__prev { left: -24px; }
}
@media (max-width: 575.98px) {
  .our-partners__prev { left: 6px; }
}
.our-partners__next { right: -21px; }
@media (max-width: 1279.98px) {
  .our-partners__next { right: -24px; }
}
@media (max-width: 575.98px) {
  .our-partners__next { right: 6px; }
}
.our-partners__slide { padding-top: 15px; padding-bottom: 30px; }
.our-partners__slide-wrapper { display: block; margin: 0px auto; width: 130px; transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s; }
.our-partners__slide-wrapper:hover, .our-partners__slide-wrapper:focus { transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s; transform: translateY(-10px); }
.our-partners__slide-wrapper:hover .our-partners__logo::after, .our-partners__slide-wrapper:focus .our-partners__logo::after { transition: box-shadow 0.5s ease-in-out 0s, -webkit-box-shadow 0.5s ease-in-out 0s; box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.65); }
.our-partners__doc { display: block; height: 120px; width: 115px; margin: 0px auto; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(229, 229, 229) rgb(229, 229, 229) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: pointer; }
.our-partners__logo { display: block; position: relative; height: 55px; margin: 0px auto; border: 1px solid rgb(229, 229, 229); background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: pointer; }
.our-partners__logo::after { content: ""; display: block; height: 100%; width: 80%; position: absolute; top: 0px; left: 10%; box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4); z-index: -1; transition: box-shadow 0.5s ease-in-out 0s, -webkit-box-shadow 0.5s ease-in-out 0s; }
.calc-waste { display: block; }
.calc-waste__info { font-size: 24px; font-weight: 300; text-align: center; }
.calc-waste__price { font-size: 36px; font-weight: 300; text-align: center; margin-bottom: 30px; }
.calc-waste__comment { font-size: 16px; text-align: center; margin-bottom: 45px; }
.calc-waste__descriptor { font-size: 12px; line-height: 1.5; text-align: center; margin-bottom: 15px; }
@media (max-width: 991.98px) {
}
@media (max-width: 768px) and (max-height: 860px) {
}
@media (max-width: 768px) and (max-height: 600px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
  .main-slider { display: none; }
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
.index__slider-wrapper { position: relative; height: 0px; width: 1220px; display: block; margin: 0px auto; }
@media (max-width: 1279.98px) {
  .index__slider-wrapper { width: 930px; }
}
@media (max-width: 991.98px) {
  .index__slider-wrapper { width: 690px; }
}
.index__slider { position: relative; opacity: 0; }
.index__slider-nav-wrapper { position: absolute; bottom: 30px; z-index: 100; }
.index__slider-nav .owl-prev, .index__slider-nav .owl-next { position: relative; display: inline-block; height: 62px; width: 62px; border-radius: 50%; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; cursor: pointer; transition: all 200ms ease-in-out 0ms; }
.index__slider-nav .owl-prev:hover, .index__slider-nav .owl-next:hover, .index__slider-nav .owl-prev:focus, .index__slider-nav .owl-next:focus { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; }
.index__slider-nav .owl-next { margin-left: 15px; }
.index__slider-prev, .index__slider-next { position: absolute; top: 7px; }
.index__slider-prev i, .index__slider-next i { color: rgb(227, 227, 227); font-size: 45px; }
.index__slider-prev { left: 6px; }
.index__slider-next { right: 6px; }
.index__slide { width: 100%; height: 29vw; background-repeat: no-repeat; background-position: center center; background-size: cover; }
@media (min-width: 576px) {
  .index__slide { height: 160px; }
}
@media (min-width: 768px) {
  .index__slide { height: 510px; }
}
@media (min-width: 992px) {
  .index__slide { min-height: 510px; }
}
@media (min-width: 1280px) {
  .index__slide { min-height: 510px; }
}
.index__slide-more { display: block; }
.index__slide-more .btn_more { margin-left: 0px; }
.index__title-wrapper { position: relative; display: block; margin: 0px auto; height: 100%; width: 1220px; }
@media (max-width: 1279.98px) {
  .index__title-wrapper { width: 930px; }
}
@media (max-width: 991.98px) {
  .index__title-wrapper { width: 690px; }
}
.index__slide-title { position: absolute; top: 50%; left: 0px; display: inline-block; width: 50%; font-size: 41px; line-height: 1.243; color: rgb(94, 94, 94); transform: translateY(-50%); }
.index__online-order { display: none; }
@media (min-width: 768px) {
  .index__online-order { display: block; position: absolute; top: 255px; right: 0px; transform: translateY(-50%); z-index: 100; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
}
.index__service { margin-bottom: 50px; }
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
.index__our-partners-wrapper { margin-bottom: 37px; }
@media (max-width: 767.98px) {
  .index__our-partners-wrapper { margin-bottom: 51px; }
}
.index__news { margin-bottom: 18px; border: 2px solid rgb(233, 233, 233); height: 100%; }
@media (max-width: 767.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 1279.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 1279.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 1279.98px) {
}
@media (max-width: 575.98px) {
}
@media (min-width: 768px) and (max-width: 1279.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 1279.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
.utilization__callback { margin-bottom: 75px; }
@media (min-width: 768px) and (max-width: 1279.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 767.98px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 768px) and (max-width: 1279.98px) {
}
@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 575.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 991.98px) {
}
body, input { color: rgb(85, 85, 85); font-size: 14px; font-family: Helvetica,Arial,sans-serif; }
input, button { outline: medium none; }
.select2-container { box-sizing: border-box; display: inline-block; margin: 0px; position: relative; vertical-align: middle; }
.select2-container .select2-selection--single { box-sizing: border-box; cursor: pointer; display: block; height: 28px; -moz-user-select: none; }
.select2-container .select2-selection--single .select2-selection__rendered { display: block; padding-left: 8px; padding-right: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select2-hidden-accessible { border: 0px none !important; clip: rect(0px, 0px, 0px, 0px) !important; clip-path: inset(50%) !important; height: 1px !important; overflow: hidden !important; padding: 0px !important; position: absolute !important; width: 1px !important; white-space: nowrap !important; }
.select2-container--default .select2-selection--single { background-color: rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-radius: 4px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { color: rgb(68, 68, 68); line-height: 28px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: rgb(136, 136, 136) transparent transparent; border-style: solid; border-width: 5px 4px 0px; height: 0px; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0px; }
#kladr_autocomplete ul { position: absolute; display: block; margin: 0px; padding: 0px; border: 1px solid rgb(196, 196, 196); background-color: rgb(255, 255, 255); z-index: 9999; overflow-x: hidden; overflow-y: auto; min-width: 200px; max-height: 420px; color: rgb(49, 49, 49); }
#kladr_autocomplete .spinner { position: absolute; display: block; margin: 0px; padding: 0px; width: 16px; height: 16px; background: rgba(0, 0, 0, 0) url("spinner.png") no-repeat scroll center center; z-index: 9999; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
.utilization__callback .callback { display: block; margin-bottom: 40px; text-align: center; font-size: 24px; font-weight: 300; color: rgb(255, 68, 41); }
.utilization__callback .callback h2 { margin-bottom: 0px; font-size: 37px; font-weight: 300; line-height: 1.3; color: rgb(255, 68, 41); }
.utilization__callback .callback .callback__phone { display: block; margin-top: 40px; margin-bottom: 39px; font-size: 19px; font-weight: 300; color: rgb(90, 90, 90); }
.utilization__callback .callback .callback__phone a { font-size: 37px; line-height: 1.3; color: rgb(0, 135, 255); font-weight: 300; }
.form__submit-wrapper::after { z-index: -1; }
.form__submit-wrapper { left: inherit; transform: inherit; z-index: 0; }
.our-partners__logo, .our-partners__doc { background-color: rgb(255, 255, 255) !important; background-size: cover !important; }
.thumb { min-height: 36.5px; }
.field-text__help-text.required::after { display: inline-block; content: "*"; font-size: 16px; color: rgb(255, 68, 41); }
.mfeedback { margin-bottom: 15px; }
.field-text_bottom:last-child { margin-bottom: 15px; }
.field-radio__input-wrap { display: flex; }
.field-radio__name { padding-left: 25px; }
.field-select__select:active, .field-select__select:focus, .field-text__input:focus { outline: 0px none; border-color: rgb(233, 233, 233); }
.online-order__form #blockLinkWhyType { align-self: end; }
.online-order__form { padding-left: 15px; }
.online-order { width: 355px; }
.online-order__class-danger, .online-order__count { margin: 15px 0px; }
.index__our-partners-wrapper h2 { margin-bottom: 23px; font-size: 37px; font-weight: 300; line-height: 1.3; color: rgb(255, 68, 41); text-align: center; }
.modal__online-order { display: block; transform: translateY(-50%); }
.modal.modal_calculate { background-image: none; background-position: inherit; background-size: inherit; padding: 0px; }
.online-order__subtitle { margin-bottom: 25px; }
.form__submit-wrapper { margin: 0px; }
.link.link_dotted { margin: 10px 0px 25px; }
.modal_calculate .online-order__list { position: inherit; top: inherit; right: inherit; height: 100%; display: flex; -moz-box-orient: unset; flex-direction: row; -moz-box-pack: unset; justify-content: unset; padding: 0px; margin: 0px; }
.modal_calculate .online-order { width: 100%; height: auto; }
.modal_calculate .online-order__item { height: auto; padding: 9px 0px; position: relative; border-right: 1px solid; }
.modal_calculate .online-order__item:last-child { border-right: medium none; }
.modal_calculate .modal__dialog { max-width: 479px; width: 100%; height: auto; }
.modal_calculate .online-order__form { padding-left: unset; }
.modal.modal_calculate .modal__text { text-align: center; }
.modal_calculate .modal__content { min-height: 600px; border-radius: 5px; }
@media (max-width: 576px) {
  .modal_calculate .modal__content { border-radius: 0px; }
}
.modal_calculate .online-order__length .field-text_bottom, .modal_calculate .online-order__diametr .field-text_bottom { margin-bottom: 25px; }
.modal.modal_calculate .modal__text { padding-right: 15px; }
.tooltip { position: unset; z-index: unset; }
.header__popup-btns-mobil a { margin-left: 12px; }
@media (max-width: 992px) {
  .index__online-order { display: none; }
  .index__slide-title { width: 100%; }
  .index__slide-more { margin-top: 15px; }
}
.online-order__length, .online-order__diametr, .online-order__marking { margin-bottom: 20px; }
@media (max-width: 992px) {
  .header.header_main .header__calc-btn { pointer-events: initial; color: rgb(255, 68, 41); }
}
.modal.modal_calculate .modal__tools { margin-top: 0px; margin-bottom: 0px; }
.modal.modal_calculate .modal__header { margin-top: 10px; margin-bottom: 10px; }
.modal.modal_calculate .modal__close { top: 15px; }
.field-radio__name-text { line-height: 1.3; }
.field-text__help-text { -moz-box-ordinal-group: unset; order: unset; }
.select2-container--default .select2-selection--single { height: 41px; display: inline-block; vertical-align: middle; width: 100%; line-height: 1; padding: 4px 16px; font-size: 14px; font-family: inherit; border: 2px solid rgb(233, 233, 233); border-radius: 3px; -moz-appearance: none; background-color: rgb(255, 255, 255); cursor: pointer; background-position: right 0px center; background-size: 32px 41px; background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMzEgMzciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDM3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IGZpbGw9IiNGMEYwRjAiIHdpZHRoPSIzMSIgaGVpZ2h0PSIzNyIvPg0KPGc+DQoJPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzFEMUQxQiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IjE4LjcsMjAuNiAxNS41LDIzLjggMTIuMywyMC42IAkiLz4NCgk8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMUQxRDFCIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iMTIuMywxNi40IDE1LjUsMTMuMiAxOC43LDE2LjQgCSIvPg0KPC9nPg0KPC9zdmc+DQo="); background-repeat: no-repeat; }
.select2-container--default .select2-selection--single .select2-selection__arrow { display: none; }
#blockLinkWhyType .link { cursor: pointer; }
.modal-dialog { background-color: rgb(255, 255, 255); border-radius: 5px; }
.modal-select-user-town { height: 100vh; }
.modal-select-user-town .modal-dialog { width: 100%; max-width: 1200px; padding: 30px; position: relative; height: 68%; overflow: hidden; }
.modal-select-user-town .modal-dialog .modal-content { overflow-y: auto; max-height: 100%; }
.modal-select-user-town .modal-header .close { position: absolute; right: 15px; top: 7px; width: 20px; }
.field-select__select, .select2-container--default .select2-selection--single { padding: 4px 50px 4px 10px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { padding: 0px 0px 0px 3px; }
.page__footer { clear: both; }
.modal-select-user-town .modal-title { text-align: left; }
.modal-select-user-town ul#listTownModal { margin-top: 20px; list-style-type: none; padding: 0px; column-count: 6; }
.modal-select-user-town ul#listTownModal li { font-size: 16px; padding-bottom: 5px; }
.modal-select-user-town ul#listTownModal li:hover { color: rgb(255, 68, 41); cursor: pointer; }
@media (max-width: 768px) {
  .modal-select-user-town ul#listTownModal { column-count: 2; }
}
@media (max-width: 540px) {
  .modal-select-user-town ul#listTownModal { column-count: 1; }
}
#modal-calculate { z-index: 1011; }
#modal-mobile-calculate { z-index: 1010; }
.header__popup-btns-desctop .btn_red { margin-left: 12px; }
h2.title_slider { font-weight: 300; }
.main-nav__item > .main-nav__link > .main-nav__carret { display: none; }
.main-nav__item.main-nav__item_has-child > .main-nav__link > .main-nav__carret { display: inline-block; }
.margin-up--md-t-30 { margin-top: unset; }
.our-partners__slide { padding-bottom: 50px; }
.main-slider { margin-bottom: 50px; }
.close.close_modal { height: auto; width: auto; line-height: 2; }
@media (min-width: 992px) {
  .icon { font-size: 19px; margin-right: 5px; margin-left: unset; }
  .header__region-select { margin-right: 30px; }
  .header__phone { margin-right: 30px; }
}
@media (max-width: 767.98px) {
  .header__email { margin: 0px 15px; }
}
.footer__copyright { margin-bottom: 10px; }
@media (max-width: 767.98px) {
  .header__phone a span { display: inline; }
}
.header__top { height: 70px; }
@media (max-width: 459px) {
  .header__top { height: auto; }
  .header__top-left, .header__top-right { margin: 10px 0px 5px; }
  .header__top-right { padding-top: 1px; }
  .header__phone, .header-mobile__email { margin-bottom: 5px; margin-right: 5px; }
}
.link.link_teaser::before { background-color: rgb(246, 70, 29); background-image: url("read-more.svg"); height: 19px; width: 19px; display: inline-block; background-size: 55% auto; background-position: center center; left: 0px; }
.header__lang-img { background: unset; }
.header__lang-img::before { content: ""; height: 30px; width: 30px; display: inline-block; }
.header__lang-img.en::before { background-image: url("eng_flag.svg"); }
.modal__dialog { width: auto; height: auto; margin-top: 10px; margin-bottom: 10px; }
#modal-feedback .modal__dialog { position: relative; max-width: 500px; width: 100%; }
#modal-feedback .form__submit-wrapper { position: relative; display: inline-block; margin-bottom: 20px; left: 50%; transform: translateX(-50%); }
#modal-feedback .btn_submit { display: block; margin: 0px auto; padding: 11px 63px; font-size: 19px; font-weight: 300; line-height: 1; color: rgb(255, 255, 255); background-color: rgb(0, 135, 255); border-color: rgb(0, 135, 255); }
#modal-feedback .modal__content { padding: 10px; border-radius: 5px; }
@media (max-width: 576px) {
  #modal-feedback .modal__content {  }
}
.logo img { width: 200px; }
.container::before, .container::after { content: unset; }
.modal_result { box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.4) inset; }
.modal_result .modal__content { border-radius: 5px; }
.modal_result .modal__tools { margin-bottom: 40px; }
@media (max-width: 1100px) {
}
@media (max-width: 576px) {
  .modal_result .modal__content { border-radius: 0px; }
}
.wrapper-mobile_header__contacts { margin-top: 5px; margin-bottom: 5px; width: 100%; justify-content: space-between; flex-wrap: wrap; }
.select2-container--default .select2-selection--single { border: 1px solid rgb(170, 170, 170); }
.field-text__input, .field-select__select { border: 1px solid rgb(170, 170, 170); }
.field-text__input:active, .field-text__input:focus, .field-select__select:active, .field-select__select:focus { border: 1px solid rgb(170, 170, 170); }
.item-link:hover, .item-link:focus { text-decoration: none; }
#feedbackHeaderModal .modal__dialog { position: relative; max-width: 500px; width: 100%; }
#feedbackHeaderModal .form__submit-wrapper { position: relative; display: inline-block; margin-bottom: 20px; left: 50%; transform: translateX(-50%); }
#feedbackHeaderModal .btn_submit { display: block; margin: 0px auto; padding: 11px 63px; font-size: 19px; font-weight: 300; line-height: 1; color: rgb(255, 255, 255); background-color: rgb(0, 135, 255); border-color: rgb(0, 135, 255); }
#feedbackHeaderModal .modal__content { padding: 10px; border-radius: 5px; }
.main-nav_mobile .main-nav__carret { cursor: pointer; display: inline-block; padding: 14px; border-radius: 50%; background: rgb(251, 251, 251) none repeat scroll 0% 0%; position: relative; margin-left: 12px; vertical-align: middle; }
.mobile-menu .main-nav__carret::before { content: "e"; font-family: "ekouniversal" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1; top: 10px; position: absolute; left: 9px; }
@media (max-width: 360px) {
  .main-nav__item.main-nav__item_has-child { padding-bottom: 20px; }
  .main-nav__link.main-nav__link_lvl-2 { max-width: 75%; vertical-align: middle; }
}
.consult-block { position: fixed; z-index: 1000; transition: all 300ms ease-in-out 0s; }
.consult-block { right: 20px; bottom: 20px; }
.consult-form { top: unset !important; bottom: 0px; }
.consult-btn { cursor: pointer; margin: 0px !important; width: 53px; height: 53px; background-image: url("consult_icon.svg"); transition: all 250ms ease-in-out 0s; }
.consult-btn:hover { opacity: 0.8; }
.consult-form { width: 310px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box; border-width: 15px; border-style: solid; border-color: rgba(128, 128, 128, 0.75); padding: 20px 22px 0px; font-family: Helvetica,Arial,sans-serif; font-size: 14px; color: rgb(115, 115, 115); box-sizing: border-box; position: absolute; right: calc(100% + 20px); top: -80px; max-height: 80vh; overflow-y: auto; overflow-x: hidden; transition: all 300ms ease-in-out 0s; }
.consult-form_hidden { display: none; }
.consult-form input, .consult-form textarea { font-size: 14px; font-family: Helvetica,Arial,sans-serif; padding: 12px; margin: 5px 0px 15px; border: 2px solid rgb(211, 211, 211); border-radius: 5px; }
.consult-form input::placeholder, .consult-form textarea::placeholder { color: rgb(211, 211, 211); }
.consult-form__title { font-size: 25px; margin: 0px 0px 25px; color: rgb(255, 68, 41); text-align: center; font-weight: 400; }
.consult-form textarea { resize: vertical; min-height: 50px; }
.consult-form__attachment, .consult-form__consent { cursor: pointer; }
.consult-form__consent { margin: 25px 0px; display: flex; }
.consult-form__btn-submit { background-color: rgb(0, 135, 255); color: rgb(255, 255, 255); outline: medium none; font-size: 19px !important; font-weight: 300; cursor: pointer; padding: 15px 0px; width: 100%; transition: all 150ms ease-in-out 0ms; margin: 0px !important; border: medium none !important; border-radius: 2px !important; z-index: 1001; position: absolute; }
.consult-form__btn-submit:hover, .consult-form__btn-submit:focus { background-color: rgb(0, 119, 225); }
.consult-form__submit-wrapper { position: relative; padding-bottom: 85px; }
.consult-form__submit-wrapper::after { content: ""; height: 55%; width: 80%; position: absolute; top: 0px; display: block; left: 50%; transform: translateX(-50%); z-index: 999; box-shadow: 0px 10px 50px rgba(0, 135, 255, 0.4); transition: box-shadow 0.2s ease-in-out 0s, -webkit-box-shadow 0.2s ease-in-out 0s; }
.consult-form__close-btn { display: none; }
.consult-form__consent-checkbox-input { position: absolute; -moz-appearance: none; min-width: 15px; height: 15px; padding: 0px !important; margin: 5px 0px 0px !important; display: none; cursor: pointer; }
.consult-form__consent-checkbox-span { min-width: 15px; height: 15px; background-repeat: no-repeat; background-position: center center; background-size: contain; border: 2px solid rgb(211, 211, 211); border-radius: 3px; display: block; margin-top: 5px; margin-right: 10px; }
.consult-form__consent-checkbox-input:checked + .consult-form__consent-checkbox-span { background-image: url("check_icon.png"); }
.consult-form__title { display: flex; -moz-box-pack: justify; justify-content: space-between; }
.consult-form__close-btn { width: 40px; display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; cursor: pointer; }
.consult-form input:invalid { box-shadow: 0px 0px 3pt 0pt rgb(255, 68, 41); border-color: rgb(255, 68, 41); }
@media (max-width: 575px) {
  body { width: 100vw; }
}
.consult-block { z-index: 10000; }
@media (max-width: 1279.98px) {
}
.mobile-menu_new { left: 0px; transform: translateX(-100%); overflow-y: auto; }
.mobile-menu_new .mobile-menu__header { position: static; -moz-box-align: center; align-items: center; }
.mobile-menu_new .mobile-menu__logo { width: 300px; margin: auto; }
.mobile-menu_new .mobile-menu__logo img { margin: 0px !important; }
.mobile-menu_new .mobile-menu__close { width: 50px; height: 50px; margin-left: 10px; }
.mobile-menu_new .mobile-menu__inner { padding-top: 30px; height: auto; }
.mobile-menu_new .main-nav__item { padding: 12px 0px 10px; border-top: 1px solid rgb(236, 236, 236); position: relative; cursor: pointer; }
.mobile-menu_new li:hover { background-color: rgba(0, 0, 0, 0.05); }
.mobile-menu_new .main-nav__item_has-child li { border-top: medium none; }
.mobile-menu_new .main-nav > .main-nav__list > .main-nav__item:last-child { border-bottom: 1px solid rgb(236, 236, 236); }
.mobile-menu_new .main-nav__carret { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; position: absolute; right: 15px; top: 10px; font-size: 16px; transition: all 150ms ease-in-out 0s; }
.mobile-menu_new .main-nav__carret::before { top: 5px; left: 6px; }
.mobile-menu_new .mobile-menu__phone { font-size: 1.2rem; padding: 15px 30px 0px; text-align: center; }
.mobile-menu_new .mobile-menu__email { font-size: 1.4rem; padding: 10px 30px; text-align: center; }
.mobile-menu_new .mobile-menu__email a { color: rgb(115, 115, 115); }
.mobile-menu_new .main-nav__item:hover > .main-nav__link { color: rgb(255, 68, 41); }
.mobile-menu_new .main-nav__link { padding-right: 10px; }
.mobile-menu_new .close > span::before, .mobile-menu_new .close > span::after { background-color: rgb(203, 203, 203); }
